version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: url_shortener_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-url_shortener}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  api:
    image: node:20-alpine
    container_name: url_shortener_api
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      PORT: 3000
      DATABASE_URL: postgresql://${DB_USER:-postgres}:${DB_PASSWORD:-postgres}@postgres:5432/${DB_NAME:-url_shortener}
    depends_on:
      - postgres
    networks:
      - app-network
    command: sh -c "if [ ! -d 'node_modules/@nestjs/core' ]; then npm config set fetch-timeout 60000 && npm config set fetch-retries 5 && npm install; fi && npx prisma generate && npm run start:dev"

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: